<div class = "budy">
    <div class = "container">

        <div class = "container-info">
    
            <h1 class = "titulo">Olvido su contraseña?</h1>
            <h1 class = "info">Ingrese los datos para cambiar su contraseña:</h1>
    
            <form class = "container-inputs">
                
                <input class = "input" type = "text" placeholder = "Nombe">
                <input class = "input" type = "email" placeholder = "Correo Electronico">
                <input class = "input" type = "password" id = "password" placeholder = "Nueva Contraseña">
                <input class = "input" type = "password" id = "password" placeholder = "Confirme Nueva Contraseña">               
    
            </form>
    
            <div class = "container-buttons">
    
                <button class = "confirmar">Confirmar</button>
                <button class = "volver" (click) = "volver()">Volver</button>
    
            </div>
    
        </div>
    
    </div>
</div>